<div class="post-list">
  {{#each posts as |post|}}
    <div class="post-card">
      <label>
        {{#link-to route = "service-posts.show" model = post.id}}
          {{post.title}}
        {{/link-to}}
      </label>
      <p>{{post.body}}</p>
      <p>{{post.user.username}}</p>
    </div>
  {{/each}}
</div>
