<div class="post-container">
  <div class="post-header">
    <h1>Posts page, View and mange Post</h1>
    {{#link-to route = "service-posts.new"}}
      +Create New Post
    {{/link-to}}
  </div>
  <main>
    {{outlet}}
  </main>
</div>
