<h2 id="title">Welcome to Ember</h2>
<nav>
  <ul>
    <li>{{#link-to "samples"}} Samples{{/link-to}}</li>
    <li>{{#link-to "service-albums"}} Albums{{/link-to}}</li>
    <li>{{#link-to "service-posts"}} Posts {{/link-to}}</li>
  </ul>

</nav>
<main class="main-container">
  {{outlet}}
</main>
